#app-mount {
    .scroller_a9a4b4,
    .stickyHeader_bba39c.header__119bc.row__5f450.stickyHeader__87925,
    .scroller_ddc925.auto__020ac.scrollerBase__65223 {
        background-color: var(--bg-alt);
    }

    .libraryHeader__19be0 {
        margin-top: 44px;
        padding-right: 0px !important;
        border-top: 1px solid var(--border-mid);
    }

    .libraryFilter__4f521 {
        width: 240px;
    }
}