#app-mount {
    .scroller__4a84a , .scroller_fb04e1 ,
    .stickyHeader_bba39c.header__119bc.row__5f450.stickyHeader__87925,
    .scroller_ad8f79.auto_c49869.scrollerBase_c49869 {
        background-color: var(--bg-alt);
    }

    .libraryHeader__5a895  {
        margin-top: 44px;
        padding-right: 0px !important;
        border-top: 1px solid var(--border-mid);
        background-color: var(--bg-alt);
    }

    .libraryFilter__3fb48 {
        width: 240px;
    }

}