#app-mount .content-2hZxGK {
	.message_ddcc45 {
		background: var(--bg-alt);//transparent;
		box-shadow: none;
		padding-left: 5px;
	}
	.cozy_f9f2ca {
		padding-left: 54px;
		.avatar_f9f2ca {
			left: 0;
		}
	}
}
